/* inter font  */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* noto serif font  */
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* full body style */

body {
  margin: 0;
  padding: 0;
  background-color: #f5f8ff;
  overflow-x: hidden;
}

/* shared style */
.color-black {
  color: 000000;
}
.color-orange {
  color: #e95a08;
}
.discription-style {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  font-weight: 400;
}
/* nav id */
#home-item {
  font-weight: 700;
  color: rgba(37, 36, 50, 1);
}
#shop-about {
  font-weight: 400;
  color: rgba(137, 135, 161, 1);
}
#cart {
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}
/* header section..... */
/* navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 20px;
}
.navbar-logo img {
  width: 100%;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 48px;
  font-size: 1rem;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
}
/* banner style */
.banner-container {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 120px auto;
  align-items: center;
  gap: 20px;
}
.banner-left {
  flex: 1;
  gap: 13px;
}
.banner-title {
  font-size: 4rem;
  margin: 0;
}
.banner-img {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.banner-img img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* plants card style */
.card-about {
  max-width: 1140px;
  margin: 0 auto 50px;
  gap: 16px;
  text-align: center;
}
.card-title {
  font-size: 3.1rem;
  margin: 0;
}
.card-discription {
  padding: 0 120px;
}
/* cards */
.cards-container {
  max-width: 1140px;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
}
.card img {
  width: 100%;
  height: auto;
}
.flower-name {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 30px auto 10px;
}
.flower-price {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 10px auto 30px;
}
.card-btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 26px 50px;
  background-color: rgba(233, 90, 8, 1);
  color: #ffffff;
  border: none;
  gap: 10px;
  text-wrap: nowrap;
  cursor: pointer;
}
/* responsive for mobile device */
@media screen and (max-width: 576px) {
  /* navbar responsive */
  .navbar {
    margin: 10px 0px 25px;
  }
  .navbar-logo {
    min-width: 45px;
    max-width: 100px;
  }
  .nav-links {
    gap: 0;
    padding: 0;
    justify-content: flex-end;
  }
  #home-item,
  #shop-about {
    display: none;
  }
  #cart {
    width: 113px;
    display: flex;
    padding-right: 10px;
    gap: 10px;
  }
  /* banner responsive */
  .banner-container {
    flex-direction: column-reverse;
    margin: 50px auto;
  }
  .banner-img img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .banner-img {
    width: auto;
    margin: 28px 0;
  }
  .banner-left {
    margin: 0 16px;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .discription-style {
    font-size: 1rem;
  }
  /* card section responsive */
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 14px;
  }
  .card img {
    width: 100%;
    height: auto;
  }
  .card-title {
    font-size: 1.5rem;
  }
  .card-discription {
    padding: 0 35px;
  }
  .card button {
    padding: 20px 0;
    gap: 5px;
  }
}
